body,
html {
    font-family: 'Poiret One', cursive;
}


/*--header image--*/

header {
    background: url(images/head.jpg);
    opacity: 0.7;
    filter: (opacity=50);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.container.top {
    color: white;
    text-align: center;
    padding-top: 150px;

}
h1  {
  font-family: 'Rajdhani';
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  font-size: 60px;
}
.top3 {
    color: black;
}
.fa-sort-up {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    font-size: 38px;
    border: none;
    outline: none;
    background-color: rgb(14, 11, 11);
    color: white;
    cursor: pointer;
    padding: 5px;
}

.fa-layer-group {
    font-size: 40px;
    color: rgb(230, 109, 149);
}


/*--Navbar links--*/

.list-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    padding: 14px;
    transition: 1.7s ease-out;
    background-color: white;
}

.list-nav a:hover {
    color: black;
    background-color: rgb(231, 154, 179);
    transition: 1s ease-in;
}

.list-nav {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

/*--icon down--*/

.bounce {
    font-size: 40px;
    color: rgb(95, 13, 75);
    padding-top: 40px;
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 1s infinite linear;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }

/*--Top Navbar--*/

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent white;
    border-bottom: 2px black;
}
/*--contact section*/
.contact-us {
    width: 70%;
    text-align: center;
    padding-bottom: 9%;
    color: #9f9f9f;
}

.form-control::placeholder {
    color: #9f9f9f;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
}

#userName {
    border-radius: 0px;
    color: #000;
    font-family: 'Gabriela', serif;
    font-weight: 700;
}

#inputEmail {
    border-radius: 0px;
    color: #000;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
}

#userMessage {
    border-radius: 0px;
    color: #000;
    font-family: 'Gabriela', serif;
    ;
    font-weight: 700;
}

#submit {
    background: #cdcdcd;
    border: solid #b4b4b4 1px;
    border-radius: 50px;
    color: #4a4741;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    text-align: center;
}

#submit:hover {
    background: #8ebea7;
    border: solid #4eb583 1px;
    color: #4a4741;
}
/*--Section 1--*/
.section1 {
     color: wheat;
}